<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dev T</title>
  <meta charset="utf-8">
 <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="../../public/pro.css">
</head>
 <body>
   <a href="/main">
    <div class="cont">
      <video loop class="vide" autoplay muted>
       <source src="https://media.istockphoto.com/videos/young-african-boys-drinking-water-from-a-tap-while-woman-line-up-to-video-id918301050">
    </video>
      <h1 class="head">African Child</h1>
    </div>
  </a>
  <div class="backs">
    <a href="/main">
    <button class="back" >Home</button>
    </a>
    
    </div>

    <h1 class="main">Together we make the Continent Great</h1>
    <p class="para">Your love can make a difference in the world and let be peace be your potion</p>
    <div class="grid-container">
     <a href="/main">
      <div class="row">
     <h1 class="disc"></h1>
      </div>
    </a>
   
    <a href="/main">
      <div class="susan">
        <h1 class="disc"></h1>
      </div>
    </a>

      <a href="/main">
      <div class="john">
        <h1 class="disc"></h1>
      </div>
    </a>

      
      <div class="dive">
       <h1 class="heh">Someone'child is your child</h1>
       <p class="ptag">Have a heart that never hardens, and a temper that never tires and a touch that never hurts.</p> 
      </div>
      <div class="dive">
        <h1 class="heh">Helps us grow</h1>
        <p class="ptag">There can be no keener revelation of a society’s soul than the way in which it treats its children.</p> 
      </div>
      <div class="dive">
        <h1 class="heh">Love us all</h1>
        <p class="ptag">We worry about what a child will become tomorrow, yet we forget that he is someone today</p> 
      </div>

      <a href="/main">
      <div class="isaac">
        <h1 class="disc"></h1>
      </div>
    </a>

      <a href="/main">
      <div class="sam">
        <h1 class="disc"></h1>
      </div>
    </a>

      <a href="/main">
      <div class="thomas">
        <h1 class="disc"></h1>
      </div>  
    </a>
    </div>
